{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $isWorkMachine := promptBoolOnce . "isWorkMachine" "Is this a work machine?" -}}

data:
  name: Joe Allen
  email: {{ $email | squote }}
  isWorkMachine: {{ $isWorkMachine }}

onepassword:
  prompt: true
