# make sure global tools are installed
^mise install | ignore

# make sure plugins are registered
mise bin-paths | lines
  | find nu-plugin
  | each {ls $in | get name}
  | flatten
  | each {plugin add $in}

# ^aws-sso | ignore

# add overlays here
use std/dirs shells-aliases *
overlay use git-utils *
