{{- if eq .chezmoi.os "darwin" -}}
#!/opt/homebrew/bin/nu

{{- $dockAppsSource := "personal" }}
{{- if .chezmoi.config.data.isWorkMachine }}
   {{- $dockAppsSource = "work" }}
{{- end }}

{{- $dockApps := dig "dock" $dockAppsSource (list) . }}

print ' Configuring dock...'
defaults write com.apple.dock autohide -int 1

{{- if len $dockApps }}
defaults delete com.apple.dock persistent-apps

{{- range $dockApps }}
print 'Adding app to dock {{ . }}'
defaults write com.apple.dock persistent-apps -array-add '<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>{{ . }}</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>'
{{- end }}

defaults delete com.apple.dock persistent-others
killall Dock
print 'Done, dock has been configured!'
{{- end }}
{{- end }}
