{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
{{- $config_key := "personal" }}
{{- if .chezmoi.config.data.isWorkMachine }}
  {{- $config_key = "work" }}
{{- end -}}
{{- $config := dig "brew" $config_key (dict) . }}

{{- $brews := dig "brews" (list) $config | uniq }}
{{- $casks := dig "casks" (list) $config | uniq }}
{{- $taps := dig "taps" (list) $config | uniq }}

#brew bundle --cleanup --file=/dev/stdin <<EOF
echo "🍺  Installing packages with brew..."
brew bundle --file=/dev/stdin <<EOF
{{- range $taps }}
  {{- $parts := splitList "," . }}
  {{- $wrapped_parts := (list) }}
  {{- range $parts }}{{ $wrapped_parts = append $wrapped_parts (. | trim | squote ) }}{{- end }}
  tap {{ $wrapped_parts | join "," }}
{{- end }}
{{- range $brews }}
  brew {{ . | squote }}
{{- end }}
{{- range $casks }}
  cask {{ . | squote }}
{{- end }}
EOF
{{- end }}
