#!/bin/bash

set -eufo pipefail

{{- if eq .chezmoi.os "darwin" }}
trap 'killall Dock' EXIT
{{- range (dig "darwin" "dock" "remove" (list) .) }}
dockutil --no-restart --remove {{ . | squote }} || true
{{- end }}
{{- end }}
