#!/bin/bash

#set -eufo pipefail
#
#{{- if eq .chezmoi.os "darwin" }}
#echo " Configuring dock..."
#
#
#
#{{- $dockAppsSource := "personal" }}
#{{- if .chezmoi.config.data.isWorkMachine }}
#   {{- $dockAppsSource = "work" }}
#{{- end }}
#
#{{- $dockApps := dig "darwin" "dock" $dockAppsSource (list) . }}
#
#{{- if len $dockApps }}
#defaults delete com.apple.dock persistent-apps
#
#{{- range $dockApps }}
#echo "Adding app to dock {{ . }}"
#defaults write com.apple.dock persistent-apps -array-add "<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>{{ . }}</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>"
#{{- end }}
#
#defaults delete com.apple.dock persistent-others
#killall Dock >/dev/null 2>&1 || true && echo "Done, dock has been configured!"
#{{- end }}
#{{- end }}
