# See https://www.nushell.sh/book/configuration.html

$env.config = {
  buffer_editor: "code"
  show_banner: false

  rm: {
    always_trash: true
  }
}

use ($nu.default-config-dir | path join scripts/mise.nu)
