<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A3MLNWQzZTdjNGUxYmE2GFq/CRkf6O9V+brS5dZ+m/f4xFtELzBlKthEXN/S4+v4/1JlT1HpMZ60TbOsZZybZCTezIZlcyDdrIJLORpkpa+30Rujw5rInZvZ8oahfpLCCNhY8sOOg9RVU+Vz7COVkYXYLjfzRVce1zwn+1WTKkDKEFqpf6eWFulszel45462r4bRVYpM</string>
	<key>email</key>
	<string>joe.k.allen@gmail.com</string>
	<key>hash</key>
	<string>A2EITDKt598oRIKUVJZx7Ig69jlPyiLMXme8fiGHCilZTeyU2qo/uAJY92iumdcTELTKZvssk3UICSZRaTOq2qhDyUbs9e906M9qNsoBbdRitvGN64C8I3WLXwC7qT+xoaUCgexxt9L4wBVbiOGpKAWzPwBWl4gwsHrECrsaKdAIcAM6qKvg</string>
</dict>
</plist>
