{{- if .chezmoi.config.data.isWorkMachine }}
SSOConfig:
  Default:
    SSORegion: us-west-2
    StartUrl: https://subsplash.awsapps.com/start
ConsoleDuration: 480
CacheRefresh: 168
AutoConfigCheck: true
AutoLogin: true
UrlAction: open
LogLevel: error
HistoryLimit: 10
HistoryMinutes: 1440
ProfileFormat: {{`"{{ .AccountIdPad }}:{{ .RoleName }}"`}}
FullTextSearch: true
{{- end }}
